[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	abandon = group ldap/tools.oomph
	create = group ldap/tools.oomph
	forgeAuthor = group ldap/tools.oomph
	push = group ldap/tools.oomph
	pushMerge = group ldap/tools.oomph
	label-Code-Review = -2..+2 group ldap/tools.oomph
	label-Verified = -1..+1 group ldap/tools.oomph
	submit = group ldap/tools.oomph
[access "refs/tags/*"]
	create = group ldap/tools.oomph
	push = group ldap/tools.oomph
	pushTag = group ldap/tools.oomph
	pushSignedTag = group ldap/tools.oomph
